@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin botonReutulizable{
    background-color: $color-terciario ;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;

    &:hover{
        background-color: $color-beige;
    }
}

@mixin responsive($size){
    @media(max-width: $size){
        @content;
    }
}